webservices/lab2/client/src/lab1/PersonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab1.webservices.chebykin.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab1.webservices.chebykin.org/" name="PersonService">
<ns1:Policy xmlns:ns1="http://www.w3.org/ns/ws-policy" wsu:Id="PersonWebServicePortBinding_MTOM_Policy">
<ns1:ExactlyOne>
<ns1:All>
<ns2:OptimizedMimeSerialization xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://lab1.webservices.chebykin.org/" schemaLocation="http://localhost:8080/PersonService?xsd=1" />
</xsd:schema>
</types>
<message name="getPersons">
<part name="parameters" element="tns:getPersons" />
</message>
<message name="getPersonsResponse">
<part name="parameters" element="tns:getPersonsResponse" />
</message>
<message name="InvalidFilterException">
<part name="fault" element="tns:InvalidFilterException" />
</message>
<message name="SqlException">
<part name="fault" element="tns:SqlException" />
</message>
<message name="addPerson">
<part name="parameters" element="tns:addPerson" />
</message>
<message name="addPersonResponse">
<part name="parameters" element="tns:addPersonResponse" />
</message>
<message name="AuthException">
<part name="fault" element="tns:AuthException" />
</message>
<message name="updatePerson">
<part name="parameters" element="tns:updatePerson" />
</message>
<message name="updatePersonResponse">
<part name="parameters" element="tns:updatePersonResponse" />
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson" />
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse" />
</message>
<message name="uploadAvatar">
<part name="parameters" element="tns:uploadAvatar" />
</message>
<message name="uploadAvatarResponse">
<part name="parameters" element="tns:uploadAvatarResponse" />
</message>
<portType name="PersonWebService">
<operation name="getPersons">
<input message="tns:getPersons" />
<output message="tns:getPersonsResponse" />
<fault message="tns:InvalidFilterException" name="InvalidFilterException" />
<fault message="tns:SqlException" name="SqlException" />
</operation>
<operation name="addPerson">
<input message="tns:addPerson" />
<output message="tns:addPersonResponse" />
<fault message="tns:InvalidFilterException" name="InvalidFilterException" />
<fault message="tns:SqlException" name="SqlException" />
<fault message="tns:AuthException" name="AuthException" />
</operation>
<operation name="updatePerson">
<input message="tns:updatePerson" />
<output message="tns:updatePersonResponse" />
<fault message="tns:InvalidFilterException" name="InvalidFilterException" />
<fault message="tns:SqlException" name="SqlException" />
<fault message="tns:AuthException" name="AuthException" />
</operation>
<operation name="deletePerson">
<input message="tns:deletePerson" />
<output message="tns:deletePersonResponse" />
<fault message="tns:SqlException" name="SqlException" />
<fault message="tns:AuthException" name="AuthException" />
</operation>
<operation name="uploadAvatar">
<input message="tns:uploadAvatar" />
<output message="tns:uploadAvatarResponse" />
<fault message="tns:SqlException" name="SqlException" />
<fault message="tns:AuthException" name="AuthException" />
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<ns3:PolicyReference xmlns:ns3="http://www.w3.org/ns/ws-policy" URI="#PersonWebServicePortBinding_MTOM_Policy" />
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getPersons">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="InvalidFilterException">
<soap:fault name="InvalidFilterException" use="literal" />
</fault>
<fault name="SqlException">
<soap:fault name="SqlException" use="literal" />
</fault>
</operation>
<operation name="addPerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="InvalidFilterException">
<soap:fault name="InvalidFilterException" use="literal" />
</fault>
<fault name="SqlException">
<soap:fault name="SqlException" use="literal" />
</fault>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal" />
</fault>
</operation>
<operation name="updatePerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="InvalidFilterException">
<soap:fault name="InvalidFilterException" use="literal" />
</fault>
<fault name="SqlException">
<soap:fault name="SqlException" use="literal" />
</fault>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal" />
</fault>
</operation>
<operation name="deletePerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SqlException">
<soap:fault name="SqlException" use="literal" />
</fault>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal" />
</fault>
</operation>
<operation name="uploadAvatar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SqlException">
<soap:fault name="SqlException" use="literal" />
</fault>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal" />
</fault>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonService" />
</port>
</service>
</definitions>